button {
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 0.25em;
    /* background-color: white; */
    color: white;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 0.1s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
}

input {
    background-color: transparent;
    outline: 0;
    border: 1px solid white;
    color: white;
    padding: 0.5em 1em;
}


main {
    display: flex;
    justify-content: center;
}

.main-left {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    border-right: 1px solid white;
    background-color: rgba(255, 255, 255, 0.05);

    max-width: 20vw;

    /* padding-left: 1em;
    padding-right: 1em; */

    height: calc(100vh - 3em);
    overflow-y: scroll;

    .title {
        margin-top: 1em;
        font-weight: 600;
    }
}

.left-dir-entry {
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    cursor: pointer;

    .inner {
        width: 90%;
        text-wrap: wrap;
    }

    background-color: transparent;
    transition: background-color 0.1s;

    &:hover {
        background-color: rgba(200, 200, 200, 0.2);
    }
}

.main-right {
    flex-grow: 2;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    gap: 1em;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;

    max-height: calc(100vh - 6em);
    overflow-y: scroll;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.dir-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 3fr));
    gap: 0.5em;
}

.dir-entry {
    border: 1px solid white;
    display: grid;
    place-items: center;
    padding: 0.25em;
    cursor: pointer;
    border-radius: 0.25em;
    background-color: transparent;

    transition: background-color 0.1s;

    &:hover {
        background-color: rgba(200, 200, 200, 0.2);
    }
}

.terminal {
    min-width: 60vw;
    min-height: 40vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;

    overflow-y: scroll;
    padding: 1em;
    border-radius: 0.25em;
}